<html>
<head>
	<title>Associations</title>
	<link rel="stylesheet" type="text/css" href="../../styles/style.css">
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body>
	<h1>Associations</h1>

	<ul class="nav">
		<li><a>Home</a></li></a>
		<li><a>History</a></li>
		<li><a>Log Out</a></li>
	</ul>

	<p class="description">Enter new interests...</p>

	<form ng-submit="addItems(data)">
	  Interest 1: <input type="text" name="" ng-model="data[0]"><br>
	  Interest 2: <input type="text" name="" ng-model="data[1]"><br>
	  Interest 3: <input type="text" name="" ng-model="data[2]"><br>
	  <button>Submit</button>

	</form>
</body>
</html>
