<h1>Associations</h1>

<ul class="nav">
	<li><a href="#/home">Home</a></li></a>
	<li><a href="#/history">History</a></li>
	<li><a href="#/logout">Log Out</a></li>
</ul>

<div class="enterForm" ng-show="formShow">
	<p class="description">Enter new interests...</p>

	<form ng-submit="addItems(data)">
	  Interest 1: <input type="text" name="" ng-model="data[0]"><br>
	  Interest 2: <input type="text" name="" ng-model="data[1]"><br>
	  Interest 3: <input type="text" name="" ng-model="data[2]"><br>
	  <button>Submit</button>
	</form>
</div>


<div class="result" ng-hide="formShow">
	<h2>Recommendations</h2>

	<div class="recContainer" ng-repeat="n in data">
		<div class="rec">{{n.name}}
    <div style="clear:both"></div>
    <div class="img" style="background-image: url('{{n.url}}')"></div>
    </div>
	</div>
	<div style="clear:both"></div>

  <button class="center" ng-click="formShow='true'">Back</button>

</div>
